@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("./slider.scss");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, Firefox */
body {
  -ms-overflow-style: none;
}


/* In your global CSS file or styles.css */
body.modal-open {
  overflow: hidden;
}
@media only screen and (max-width: 870px) {
  .font-mb-15px {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 1020px) {
  .mobile-rs-next {
    position: relative !important;
    top: 49px !important;
    left: 24rem !important;
    width: 20px !important;
  }
}

@media only screen and (min-width: 768px) {
  body{
    padding: 0!important;
    margin: 0 !important;
  }
  .vector-background-image {
    // background-image: url("../assets/VectorBackground.png");
    background-size: cover;
    background-position: center;
  }

  .pop-up-window-cv-modal {
    font-size: 12px !important;
  }
    .welcome-section-background-image {
    background-image: url("../assets/welcome-section.png");
    background-size: cover;
    background-position: center;
  }

    .test-778 {
      width: 100px;
      height: 100px;
      position: absolute;
      animation: moveInCurve 4s ease-out forwards;
      transform: rotate(45deg);
    }

    @keyframes moveInCurve {
      0% {
        transform: translate(0, 0) rotate(40deg);
      }
      50% {
        transform: translate(32rem, 12rem);
      }
      100% {
        transform: translate(82rem, 5rem);
      }
    }

      .test-778-back {
      width: 15px;
      height: 15px;
      position: absolute;
      animation: moveInCurveBack 4s ease-out forwards;
      transform: rotate(45deg);
    }

    @keyframes moveInCurveBack {
      0% {
        transform: translate(10px, 15px) rotate(40deg);
      }
      50% {
        transform: translate(32rem, 15rem);
      }
      100% {
        transform: translate(82rem, 8rem);
      }
    }

      .test-778-back-1 {
      width: 15px;
      height: 15px;
      position: absolute;
      animation: moveInCurveBack-1 4s ease-out forwards;
      transform: rotate(45deg);
    }

    .test-778-back-2 {
      width: 15px;
      height: 15px;
      position: absolute;
      animation: moveInCurveBack-2 4s ease-out forwards;
      transform: rotate(45deg);
    }
      @keyframes moveInCurveBack-2 {
      0% {
        transform: translate(10px, 15px) rotate(40deg);
      }
      50% {
        transform: translate(28rem, 15rem);
      }
      100% {
        transform: translate(82rem, 8rem);
      }
    }

  .title-section-background-img {
    background-image: url("../assets/titlebackground.png");
    background-size: cover;
    background-position: start;
  }
}

.background-image {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
}



/* Hide scrollbar for Chrome, Safari, and Opera */
.custom-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, Firefox */
.custom-scroll {
  -ms-overflow-style: none;
}

.ql-editor {
  height: 15rem !important;
}

.clip-bottom {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}


.w-inherit {
  width: inherit !important;
}

@media print {
  .remove-shadow {
    box-shadow: 0px 0px 0px 0px !important;
  }
  *{
    margin: 0 !important;
    box-sizing: border-box;
  }
  @page {
    margin: 0 !important;
    padding: 0 !important;
  }
  header, footer, .content, .main-div-print {
    padding: 0 !important; /* Ensure no padding for specific sections */
    margin: 0 !important;
  }
  .print-bg-black {
    margin-right: 15px !important;
  }
  .main-div-print {
    padding: 0, 10px !important;
  }
  body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
  }
  .page-break {
    page-break-before: always;
  }
  .no-print {
    display: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .mb-color-skills{
    border: 1px solid black;
  }
  .bg-white-custom{
    background-color: white!important;
  }
  .print-container{
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    height: 150rem !important;
    overflow-y: auto !important;
    width: 100% !important;
    overflow: visible !important;
    height: 200rem !important;
    box-sizing: border-box !important ;
  }
}


.suggestions {
  max-height: 150px;
  overflow-y: auto;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}


.job-posting {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.job-posting h2 {
    margin-top: 20px;
    color: #333;
}

.job-posting ul {
    list-style-type: disc;
    margin-left: 20px;
}

.job-posting p {
    margin: 10px 0;
}